<ion-view view-title="Log Page">
  <ion-content class="padding" ng-controller="LogsCtrl">
    <br />
    <div class="card">
      <h3>Add more logs and comments to your database</h3>
      <br/>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Log" ng-model="data.Log">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Comment" ng-model="data.comment">
        </label>
    </div>
    <button class="button button-block button-calm" ng-click="addToDB()">Add</button>
    </div>


  </ion-content>
</ion-view>
