<ion-view view-title="Log Page">
  <ion-content class="padding" ng-controller="LogsCtrl">
    <ion-scroll direction="x" style="height: calc(300vh - 300px); ">
    <br />

    <div class="card">
      <h3>Add more logs and comments to your database</h3>
      <br/>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Log" ng-model="newLog">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Comment" ng-model="newComment">
        </label>
    </div>
    <button class="button button-block button-calm" ng-click="save(newLog, newComment)" controller="LogsCtrl" >Add</button>
    <button class="button button-block button-calm" ng-click="load(newLog, newComment)" >Show logs</button>


  <div class="item">
    <p>Log Status: {{ statusLog }}</p>
    <p>Comment Status: {{ statusComment }}</p>

    <p>{{$scope.newLog}}</p>
    <p>{{$scope.newComment}}</p>

  </div>
</div>

      </ion-scroll>
  </ion-content>
</ion-view>
