<ion-view view-title="Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()" id="keyLogout">Logout</button>
  </ion-nav-buttons>

  <ion-content class="padding" ng-controller="DashboardCtrl">

    

    <div class="col text-center">
      <h1 class="title">Welcome to your Math Helper app </h1>
    </div >

<div class="text-left">
      <h3>This app was created to help you with remembering math logs that you can never seem to wrap your head around.
      It is very simple to use so just press on the tab you wish to go to and enjoy p.s there is also a simple calculator so happy solving</h3>
</div >




  </ion-content>
</ion-view>
