<ion-view view-title="Log Page">
  <ion-content class="padding" ng-controller="LogsCtrl">
    <br />
    <div class="card">
      <h3>Add more logs and comments to your database</h3>
      <br/>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Log" ng-model="newLog">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Comment" ng-model="newComment">
        </label>
    </div>
    <button class="button button-block button-calm" ng-click="save(newLog)" >Add</button>
  </div>

    <h4>New log added to your collection. Press add if the log below is correct:</h4>
    <p>{{ newLog }}</p>
    <p>{{ newComment }}</p>



  </ion-content>
</ion-view>
